<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <style>
        .ms-auto {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="navbar navbar-expand-lg navbar-collapse" role="navigation">
                    <a class="navbar-brand" href="#">
                        <span class="d-none d-sm-inline">GameStore - store of computer games!</span>
                        <div class="d-sm-none">
                            GameStore
                        </div>
                    </a>
                    @Html.Action("Summary", "Cart")
                </div>
            </div>
        </div>
        <div class="d-sm-none ">
            @Html.Action("Menu", "Nav", new { horizontalNav = true })
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-0">
                <div id="categories" class="col-sm-3 d-none d-sm-block">
                    @Html.Action("Menu", "Nav")
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="col-sm-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>